/* CSS für die Aufgabe-Erstellen-Seite */

body {
    margin: 0;
    font-family: arial, Helvetica, sans-serif;
}

header {
    background-color: #E5BA73;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 2.5vw;
}

#header img {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 2.5vw;
}

#header img:hover {
    opacity: 0.5;
}

#header a {
    color:black;
    text-decoration: none;
}

#header a:hover {
    opacity: 0.5;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-family: "Bookman Old Style";
}

h3 {
    display: inline;
}

form{
    background-color: #E5BA73;
    padding: 20px;
    opacity: 100%;
    border-radius: 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
form img{
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 2.5vw;
    float: right;
    margin-top: 20px;
    float: right;
}

form input{
    width: 60%;
    height: 5vh;
}

form textarea{
    height: 15vh;
    width: 60%;
}

#mitarbeiter {
    background-color: #ffffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: solid black 1px;
    cursor: pointer;
    width: 60%;
}