body {
    margin: 0;
    font-family: arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #E5BA73;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 2.5vw;
}

/* Add styling for the buttons in the header */
#header img {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 2.5vw;
    vertical-align: middle;
}

#header img:hover {
    opacity: 0.5;
}

#header a {
    color:black;
    text-decoration: none;
}

#header a:hover {
    opacity: 0.5;
}

#header #newTask{
    height: 3vw;
}

#header #downloadAsPDF{
    height: 3vw;
}

#projectName{
    text-align: center;
    font-style: italic;
}

.board-block {
    width: 15%;
    float: left;
    background-color: #E5BA73;
    padding: 20px;
    opacity: 100%;
    border-radius: 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
}

.row{
    width: 113.5%;
}

.task{
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    user-select: none;
    cursor: grab;
}

.headerBox{
    text-align: center;
    font-size: 30px;

}

.container{
    display: inline;
}


#viewAufgabe{
    position: fixed;
    height: 80vh;
    width: 80vw;
    top:10vh;
    left:10vw;
    background-color: #E5BA73;
    color:black;
    border-radius: 2em;
    border: black 2px solid;
    display: none;
}

#aName{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    user-select: none;
    padding: 2vh;
}

#aBeschreibung{
    border: 2px black solid;
    width: 80%;
    left: 10%;
    height: 50%;
    overflow-y: auto;
    position: relative;
    padding: 3px;
    user-select: none;
    background-color: white;
}

#aMitarbeiter, #aStatus {
    position: relative;
    left: 10%;
    user-select: none;
}

#aEdit{
    background-color: white;
    border: 2px black solid;
    padding: 2vh;
    left: 85%;
    top: 15%;
    position: relative;
    width: fit-content;
    user-select: none;
}

#aEdit:hover{
    cursor: pointer;
    opacity: 0.8;
}

#blankScreen{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left:0px;
    background-color: white;
    opacity: 0.5;
}